* {
    box-sizing: border-box;
}

body {
    background-color: #eee;
}

#form-container {
    background-color: #fff;
}

.form-floating, .d-grid, .alert {
    width: 350px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: inherit!important;
}

.custom-hover:hover {
    color: #333!important;
}

.linear-button {
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    color: #fff;
}

button:hover {
    box-shadow: 2px 3px 4px #bbb;
    color: #fff!important;
}
